
/* Navigation Bar */
.ken-nav-item {
    color:#828282;
    font-size: 19px;
}

.ken-nav-list li {
    display: inline;
}

ul.ken-nav-list {
    list-style: none;
    padding: 0;
}

#ken-navigation {
    padding-bottom: 1em;
}

div.ken-story p{
    font-size: 20px;
}

.ken-nav-item:hover {
    color: white;
    cursor: pointer;
}

.nav-selected {
    color: red;
}

p.ken-story-text {
    text-align: center;
    margin-bottom: 30px;
}

img.ken-image {
    display: block;
    margin: 0 auto;
}

.ken-story {
    font-family: Arial, Helvetica, sans-serif;
}

div#ken-story-5 {
    font-size: 19px;
    text-align:center;
    width:100%;
}

a#ken-5-3 {
    color: white;
    text-align: center;
}
