
/* Navigation Bar */
li.ken-nav-item {
    display: inline;
    list-style: none;
    font-size: 19px;
    margin-right: 5em;}

ul.ken-nav-list {
    padding-left: 5em;
}

#ken-navigation {
    padding-bottom: 1em;
}

div.ken-story p{
    font-size: 20px;
}

li.ken-nav-item:hover {
    cursor: pointer;
}

li.nav-selected {
    color: red;
}