#sidebar {
    height: 100%;
    left: 0px;
    padding: 0em 1em;
    position: fixed;
    top: 0px;
    width: 16em;

    overflow-y: auto;
    transition: all 0.4s ease 0s;
    z-index: 1000;

    background-color: #222222;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li, #sidebar li>a {
    padding: .25em;
}

#sidebar li>ul>li, #sidebar li>ul a {
    margin-left: .5em;
}

#sidebar .selected {
    color: #1ED760;
    font-weight: bold;
}

#sidebar a:hover {
    background-color: #3E3E3E;
}

#sidebar a {
    color: white;
    cursor: pointer;
}

#sidebar h5, #sidebar select {
    margin-left: 1em;
}
