/*
 spotify green: 
    #1ED760
 spotify grey
    #828282
 spotify sand
    #ECEBE8
*/


body {
    background-color: #3A3A3A;
    color: white;
    text-color: white;
}

#wrapper {
    transition: all 0.4s ease 0s;
}

#content {
    padding-left: 18em;
}

#info {
    margin: 4em 1em;
}

text {
    fill: white;
}

line, path {
    stroke: white;
}

#chart-circles svg, #chart-albums svg {
    background: #4F4F4F;
}

/* Star Chart Styles */
.star-axis {
    stroke-width: 1px;
    stroke: grey;
    stroke-dasharray: 4;
}
.star-label {
    font-size: 11px;
}
.star-path {
    stroke: #444;
    stroke-width: 1px;
    fill: #FFFFCC;
    fill-opacity: 0.5;
}

.song {
    font-weight: bold;
}

g.features {
    cursor: default;
}

.hover-list-item {
    opacity: 0.6;
    cursor: pointer;
}

div#song-stats {
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
}

.hover-cursor {
    cursor: pointer;
}